UNKNOWN {
	outline: none
}
div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,k,m,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-style:normal;
	text-decoration:none;
}
/* 全站通用弹窗组件 */
.at_trace_m {
	position:absolute;
	top:0;
	left:0;
	z-index:80;
	background:#000;
	visibility:hidden;
	font-size:12px
}
.at_trace_m iframe {
	width:100%;
	height:100%;
	border:0;
	background:none;
	filter:alpha(opacity=0);
	-moz-opacity:0;
	opacity:0
}
.at_trace_w {
	width:auto;
	height:auto;
	margin:0;
	padding:0;
	position:absolute;
	top:0;
	left:0;
	z-index:81;
	background:#333;
	visibility:hidden
}
.at_trace_c {
	width:300px;
	height:auto;
	padding:0;
	background:#fff;
	border:8px solid #bbb;
	font-size:12px
}
.at_trace_t {
	width:100%;
	height:30px;
	line-height:30px;
	overflow:hidden;
	margin:0;
	padding:0;
	background:#0698e9;
	color:#fff
}
.at_trace_t h2 {
	margin:1px 0 0 12px;
	font-weight:600;
	color:#fff;
	font-size:12px
}
.at_trace_s {
	float:right;
	width:15px;
	height:14px;
	overflow:hidden;
	margin:8px 10px 0 0;
	padding:0;
	background:url(../images/pic.png) no-repeat 0 0;
	cursor:pointer
}
.at_trace_s:hover {
	background-position:-15px 0
}
.at_trace_cont {
	padding:10px;
	display: inline;
}
.at_trace_b {
	width:auto;
	height:40px;
	overflow:hidden;
	border-top:1px solid #e6e6e6;
	background:#f6f6f6;
	text-align:right;
	padding:0 10px 0 0
}
.at_trace_b a {
	margin:8px 0 0 0;
}
.at_trace_b .at_txthref {
	display:inline-block;
	font-size:12px;
	font-weight:normal;
	height:22px;
	line-height:22px;
	overflow:hidden;
	color:#0490DF;
	text-decoration:underline
}
.at_trace_b .at_txthref:link,.at_trace_b .at_txthref:visited,.at_trace_b .at_txthref:hover,.at_trace_b .at_txthref:active {
	text-decoration:underline
}
.at_wlogin {
	margin:0 auto;
	padding-top:5px
}
.at_wl_i {
	height:22px;
	overflow:hidden;
	border:1px solid #FFCD85;
	background:#FFEDC0;
	margin-bottom:10px;
	color:#f05c00;
	display:block;
	line-height: 18px;
	padding-top: 5px;
}
.bg_i {
	border:#c5ddf6 1px solid;
	background:#f2f9ff;
	color:#f05c00;
}
.at_wl_i u,.at_cst_i  u,.at_nrt_i u {
	margin:0 6px 0 10px
}
#map_canvas{
	background:#fff;
	border:1px solid #dadada;
	margin-top:5px;
	padding:0px;
	height:400px;
	width:664px;
}
#map_pic{
	background:#fff;
	border:1px solid #dadada;
	margin-top:5px;
	padding:0px;
	height:400px;
	width:664px;
}
#map_pic .mapimg{
	border:1px solid #dadada;
	margin-top:5px;
	width:154px;
	margin-left: 5px;
	padding: 2px;
	cursor: pointer;
}
#terms-text{
	background:#fff;
	border:0px solid #dadada;
	margin-top:5px;
	padding:0px;
	height:400px;
	margin-bottom:10px;
	overflow-y:auto;
	overflow: hidden;
	line-height:30px;
}
#terms-text span{
	height: auto;
	float: none;
}
#terms-text p{
	padding: 0 15px 0 15px;
	height: auto;
	width: auto;

}

#terms-text ol,#terms-text ul{float:left; list-style:none; padding:0; margin:0; margin-bottom:10px;}
#terms-text ol li,#terms-text ul li{float:left; width:95px; height:30px; padding-left:25px; margin:0; line-height:30px; text-align:left; border-bottom:1px dotted #E1E1E1; overflow:hidden}
#terms-text ul li{width:220px;}

.more_navlist2 {
	background:#fff;
	border:1px solid #dadada;
	margin-top:5px;
	padding:0px;
	line-height:20px;
	right:0px;
}
.more_navlist2 a {
	display:inline-block;
	padding:0 2px;
	color:#666;
	margin:0 5px;
	TEXT-ALIGN:center;
	overflow:hidden;
	height:20px;
	white-space:nowrap;
	min-width:60px;
	padding-left:0px;
}
.more_navlist2 a:hover {
	background:#FF7A00;
	color:#fff;
	text-decoration:none;
	min-width:60px;
	padding-left:0px;
	color:#fff;
}
#cityform2 {
	DISPLAY:none;
}
.more_navlist2 A.dv-selected {
	min-width:60px;
	padding-left:0px;
	background:#FF7A00;
	color:#fff;
	text-decoration:none;
}
#loginbox {
	display:block;
}
#loginout {
	display:block;
}
.at_wlogin .at_but {
	margin-left:50px;
	float:left
}

.at_but {
	height:32px;
	line-height:32px;
	background:url(../images/pic.png) no-repeat right;
	display:inline-block;
	overflow:hidden;
	border:0;
	padding:0 25px 0 0;
	margin:0;
	font-weight:600;
	font-size:14px;
	color:#fff;
	cursor:pointer;
	text-decoration:none
}
.at_but u {
	width:25px;
	_width:24px;
	height:100%;
	background:url(../images/pic.png) no-repeat;
	float:left;
	margin:0;
	padding:0;
	border:0;
	overflow:hidden
}
.b_2_y,.b_2_b,.b_2_g,.b_pic {
	height:22px;
	line-height:22px;
	padding:0 18px 0 0;
	font-weight:normal;
	font-size:12px;
	color:#fff
}
.b_2_y u,.b_2_b u,.b_2_g u,.b_pic u {
	width:18px;
	_width:16px
}
.b_2_y {
	background-position:right -619px
}
.b_2_y u {
	background-position:0 -642px
}
.b_2_y:hover {
	background-position:right -665px
}
.b_2_y:hover u {
	background-position:0 -688px
}
.b_2_y:active {
	background-position:right -711px
}
.b_2_y:active u {
	background-position:0 -734px
}
.b_2_g {
	background-position:right -895px;
	color:#666
}
.b_2_g u {
	background-position:0 -918px
}
.b_2_g:hover {
	background-position:right -941px;
	color:#666
}
.b_2_g:hover u {
	background-position:0 -964px
}
.b_2_g:active {
	background-position:right -987px;
	color:#666
}
.b_2_g:active u {
	background-position:0 -1010px
}
.at_wlogin .logli {
	height:30px;
	float:left;
	margin:5px 10px;
	white-space:nowrap;
}


.at_wl_e {
	width:167px;
	padding:15px 0 0 25px
}
.at_wl_e p {
	height:auto;
	padding-bottom:12px
}
.at_wlogin .at_text em {
	margin-left:6px;
	line-height: 18px;
}
.at_wlogin .at_text input {
	width:150px; 
	overflow:hidden;
}
.awl_code .at_text input {
	width:39px
}
.at_wlogin .t_1_i em {
	background:#fff
}
.at_wlogin .t_1_e em {
	background:#fff
}
.at_wlogin .t_1_l em {
	background:#fff
}
.at_wlogin .ckm {
	margin-left:59px
}
.t_login .auto_login {
	PADDING-RIGHT:0px;
	PADDING-LEFT:0px;
	PADDING-BOTTOM:0px;
	MARGIN:0px;
	PADDING-TOP:0px
}
.t_login .tips .auto_login {
	VERTICAL-ALIGN:0px
}
.t_login .tips {
	CLEAR:both;
	PADDING-LEFT:54px;
	top:0px;
}
.t_login .tips .auto_login {
	PADDING-BOTTOM:0px;
	OVERFLOW:hidden;
	PADDING-TOP:0px;
	float:left;
}
.t_login .tips .auto_login INPUT {
	TOP:0px
}
.t_login .tips_on .auto_login {
	PADDING:0px;
	BACKGROUND:#fff;
}
.t_login .tips .safe {
	BORDER:#c7c7c7 1px solid;
	PADDING-RIGHT:2px;
	DISPLAY:block;
	PADDING-LEFT:2px;
	BACKGROUND:#fff;
	PADDING-BOTTOM:2px;
	LINE-HEIGHT:normal;
	PADDING-TOP:2px;
	WHITE-SPACE:nowrap;
	float:left;
}
.t_login .tips_on .safe {
	DISPLAY:block
}


.at_wl_l,.at_wl_e {
	float:left;
	height:170px;
	overflow:hidden
}
.at_wl_l {
	width:253px;
	padding:10px 0 0 0;
	border-right:1px solid #ddd
}
.at_wlogin p {
	/* [disabled]width:100%; */
	overflow:hidden;
	line-height: 25px;
	min-height: 25px;
	clear: both;
	margin-bottom: 10px;
}
.at_wlogin .pb0 {
	padding-bottom:3px
}
.at_wlogin .logli {
	height:30px;
	float:left;
	margin:5px 10px;
	white-space:nowrap;
}
.at_wlogin dl {
	width:100%;
	height:30px;
	padding-bottom:10px;
}
.at_wlogin .pb0 {
	padding-bottom:3px;
	margin-bottom: 15px;
}
.at_wlogin span {
	float:left;
	height:auto;
}
.at_wl_lt {
	width:38px;
	line-height:25px;
	margin-right:12px;
	text-align:left
}
.at_wlogin .w50 {
	width:60px
}
.at_wlogin .w100 {
	width:65px
}
.at_wlogin .w200 {
	width:200px;
}
.at_wlogin .w60 {
	width:60px
}
.at_wlogin .h150 {
	height:auto;
}
.at_wlogin .h100 {
	height:auto;
}
.at_wlogin .h170 {
	height:115px;
}
.awl_code {
	display:block
}
.awl_code img {
	float:left;
	margin-left:15px;
	width:60px;
	height:20px;
	margin-top:5px;
}
.awl_code a {
	float:left;
	margin:6px 0 0 6px;
	text-decoration:underline
}
#CheckCode{
	display: none;
}
#CheckCode1{
	display: none;
}
.at_wlogin table, .at_wlogin th, .at_wlogin td
  {
  border: 0px solid blue;
  }
.at_wlogin table
  {
	border-collapse:collapse;
	width:100%;

  }

.at_wlogin td{
	height: auto;
	line-height: 25px;
	padding-bottom: 15px;
	vertical-align:top;
}
#usertoux {


}

.at_wlogin td.at_text{
	padding-left: 12px;
}

/* 全站loading */

#at_loading {
	width:281px;
	height:81px;
	overflow:hidden;
	position:absolute;
	top:0;
	left:0;
	z-index:99;
	visibility:hidden
}
.at_loading_c,.at_loading_b,#at_loading s {
	position:absolute;
	top:0;
	left:0
}
.at_loading_c,.at_loading_b {
	width:182px;
	height:49px;
	padding:28px 0 0 95px;
	color:#999;
	overflow:hidden;
	background:#f3fbfe url(../images/write_max.gif) no-repeat 52px 20px;
	border:1px solid #a2e5ff;
	z-index:2;
}
.at_loading_b {
	width:277px;
	padding:28px 0 0 0;
	background-image:none;
	text-align:center;
	font-size:14px;
	color:#0590de
}
#at_loading s {
	width:279px;
	height:79px;
	top:2px;
	left:1px;
	background:#eaf9fe;
	z-index:1
}
/* 输入框 */

.at_text_title {
	height:22px;
	padding-top:6px;
	float:left;
	font-weight:600
}
.at_text,.at_text input,.at_text em,.at_code,.at_code input {
	width:auto;
	height:25px;
	display:block;
	overflow:hidden;
	border:0;
	padding:0;
	margin:0
}
.at_text,.at_code {
	display:inline-block
}

.at_text textarea {
	width:500px;
	height:150px;
	font-size:12px;
	color:#666;
	padding:6px;
	border:1px solid #ddd;
	line-height:140%;
	margin:0;
	overflow:hidden;
	overflow-y:scroll;


}
.at_text textarea,.at_text input,.at_text em,.at_text LABEL,.at_text select,.at_code input {
	float:left;

}
.at_text input,.at_code input {
	height:18px;
	padding:2px 2px;
	border:1px solid #c7c7c7;
	color:#333;
	background-color:#FFF;
}

.at_text #zyxx {
	width:15px;
	padding:0px;
	border:0px solid #c7c7c7;
	background:#fff;
	margin-top:6px;
	margin-right:5px;
}
.at_text LABEL {
	float:left;
	cursor: pointer;
}
.at_text #new_day {
	BACKGROUND:url(../images/datePicker.gif) #fff no-repeat right 50%;
}
.at_text em {
	padding:3px 12px 0 7px
}
.at_text em u {
	margin-right:6px
}

.t_1_i input,.t_2_i input,.t_1_i textarea{
	background-color:#f0f9ff;
	border-color:#84d2ff
}
.t_1_l input,.t_2_l input {
	background-color:#fefeda;
	border-color:#f1df95
}
.t_1_o input,.t_2_o input {
	background-color:#fff;
	border-color:#C7C7C7
}
.t_1_e input,.t_2_e input ,.t_1_e textarea{
	background-color:#fff2f2;
	border-color:#ff7751
}

.t_2_d,.t_2_i,.t_2_l,.t_2_o,.t_2_e {
	height:22px
}
.t_2_d input,.t_2_i input,.t_2_l input,.t_2_o input,.t_2_e input {
	height:12px;
	padding:4px 8px 4px 8px
}
.t_2_d em,.t_2_i em,.t_2_l em,.t_2_o em,.t_2_e em {
	height:18px;
	padding:4px 12px 0 10px
}
.at_passking {
	width:184px;
	height:20px;
	overflow:hidden;
	float:left;
	margin-top:-1px
}
.at_passking .at_txt,u.at_passking .at_bar {
	float:left;
	overflow:hidden
}
.at_passking .at_txt {
	width:60px;
	margin-top:1px
}
.at_passking .at_bar {
	width:122px;
	height:18px;
	border:1px solid #ddd
}
.at_passking .at_bar span {
	width:40px;
	height:18px;
	float:left;
	text-align:center;
	background:url(../images/pic.png) 0 -1181px;
	border-right:1px solid #ddd
}
.at_passking .at_bar .at_end {
	border-right:0
}
.at_passking .at_bar .at_current {
	background-position:-42px -1181px;
	color:#fff
}
.con{
	padding:0 0 0 5px;
	border-bottom: #dddbdb 1px solid;
}
.feedMy textarea{
	height:60px;
	border:1px solid #abadb3;
	font-size:12px;
	width:180px;
	padding:5px;
}/*用户满意*/

/* 弹窗扩展 - 警示窗体*/
.at_trace_w_i {
	z-index:82
}
.at_trace_if {
	padding:10px 0
}
.at_trace_if p{
	padding:0 15px;
	line-height: 25px;
	color: #000;
}
.at_trace_if .at_msg {
	margin-left:30px
}
.at_trace_if_c {
	float:left;
	color:#666;
	/* [disabled]width:235px; */
}
.read_box {
	display:none;
	clear:both;
	width:auto;
	margin-bottom: 15px;
}
.read_box p {
	margin:0px;
	height:auto;
	line-height:20px;
	MARGIN:0px 0 0 0;
}

/* 提示图标：规则在文档中已定义 */
.at_msg,.at_write {
	width:42px;
	height:44px;
	float:left;
	background:url(../images/pic.png) no-repeat
}
.m_1_i {
	background-position:-86px -1069px
}
.m_1_o {
	background-position:-43px -1069px
}
.m_1_e {
	background-position:-0px -1069px
}
.m_2_i {
	width:31px;
	height:31px;
	background-position:-191px -1069px
}
.m_2_o {
	width:30px;
	height:31px;
	background-position:-160px -1069px
}
.m_2_e {
	width:29px;
	height:31px;
	background-position:-130px -1069px
}
.m_3_i {
	width:17px;
	height:16px;
	background-position:-256px -1069px
}
.m_3_o {
	width:16px;
	height:16px;
	background-position:-239px -1069px
}
.m_3_e {
	width:16px;
	height:16px;
	background-position:-222px -1069px
}
.at_write {
	width:16px;
	height:16px;
	background:url(../images/write.gif) no-repeat
}
.reg_left {
	padding-left: 50px;
	border-bottom: 0px solid #E5E6E8;
}
.reg_right {
	float:left;
	margin-top:10px;
}

/*public end*/

select,option{
margin:0;
padding:0;}a:link {
	/* [disabled]font-weight: bold; */
}
.clearfix:after {
	content:"\0020";
	display:block;
	height:0;
	clear:both
}
.clearfix {
	_zoom:1
}
*+html .clearfix {
	overflow:hidden
}
.wh220 {
	width:230px;
}

.wh210 {
	width:215px;
}
.wh150 {
	width:134px;
}
.wh240 {
	width:240px;
}
.wh100 {
	width:100px;
}
.wh140 {
	width:128px;
}
.m5 {
	margin:5px
}
.m10 {
	margin:10px
}
.m15 {
	margin:15px
}
.mt5 {
	margin-top:5px
}
.mt3 {
	margin-top:3px
}
.mr5 {
	margin-right:5px
}
.mr5 {
	margin-right:3px
}
.mb5 {
	margin-bottom:5px
}
.ml5 {
	margin-left:5px;
}
.ml4 {
	margin-left:3px
}
.mt10 {
	margin-top:10px;
}
.mr10 {
	margin-right:10px
}
.mb10 {
	margin-bottom:10px;
}
.mb501 {
	float:left;
	width:316px;
	margin-right:20px;
}
.mt101 {
	margin-top:10px;
	margin-left:10px;
	margin-right:10px;
}
.ml10 {
	margin-left:10px
}
.mt15 {
	margin-top:15px
}
.mr15 {
	margin-right:15px
}
.mr50 {
	margin-right:70px
}
.mb15 {
	margin-bottom:15px
}
.ml15 {
	margin-left:15px
}
.ml32 {
	margin-left:34px
}
.ml52 {
	margin-left:54px
}
.ml100 {
	margin-left:100px
}
.wh110 {
	width:170px;
}
.wh180 {
	width:190px;
}
.wh250 {
	width:370px;
}
.lht30{
	line-height: 30px;
}
.lht20{
	line-height: 20px;
}
.contc .th30{
	height: 30px;
	margin: 0;
}
.th20{
	height: 20px;
	line-height: 20px;
}
.sz14{
	font-size: 14px;
}
/*color*/
.blue1 {
	color:#005ed9
}
.blue2 {
	color:#0080C8
}
.blue3 {
	color:#0080c9
}
.orange1 {
	color:#FF5A00
}
.red {
	color:#F00
}
.orange2 {
	color:#ffa800
}
.gray1 {
	color:#3e3e3e
}
.gray2 {
	color:#999999
}
.gray3 {
	color:#999999;
}
.gray4 {
	color:#999999
}
.gray5 {
	color:#666666;
	height:20px;
}
.lvse {
	color:#4BAA12;

}
.fl {
	FLOAT:left
}
.fr {
	FLOAT:right
}
.fcon {
	text-align:center;
}
.frt {
	text-align:right;
}
.fw {
	font-weight:bold;
}
.gh {
	font-weight: lighter;color:#666666;
}
.ne {
	/* [disabled]display: none; */
	width: 0px;
	float: left;
	overflow: hidden;
}
.none {
	display: none; 

}
.of {
	overflow: hidden;

}
/*填充空白*/
s.e5,s.e10,s.e15,s.e20 {
	width:1px;
	overflow:hidden;
	display:block
}
s.e5 {
	height:5px
}
s.e10 {
	height:10px
}
s.e15 {
	height:15px
}
s.e20 {
	height:20px
}
s.w10 {
	height:50px;
	width: 10px;
	float: left;
}
/* end base------------- */

.peiza {
	MARGIN-RIGHT: 6px;
	margin-left: 0px;
	float: left;
	border: #dcdada 1px solid;
	line-height: 22px;
	text-align: center;
	margin-top: 0px;
	/* [disabled]overflow: hidden; */
	white-space: nowrap;
	cursor: pointer;
	margin-bottom: 5px;
	padding: 0 10px;
	background-color: #FFF;
	height: 22px;
}
.peiz {
	BACKGROUND: url(../images/xuan.gif) no-repeat right bottom;
	padding: 0 10px;
	MARGIN-RIGHT: 6px;
	margin-left: 0px;
	float: left;
	border: #C6A24F 1px solid;
	line-height: 22px;
	text-align: center;
	margin-top: 0px;
	/* [disabled]overflow: hidden; */
	white-space: nowrap;
	cursor: pointer;
	margin-bottom: 5px;
}
.ne {
	/* [disabled]display: none; */
	width: 0px;
	float: left;
	overflow: hidden;
}